.main {
  padding:20px 0;
}

// For some reason textareas just have a sans-serif font-family assigned...
.ui.input textarea {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

// For radio buttons next to each other
.ui.radio + .ui.radio {
  margin-left:20px;
}