$main: #2185d0;
.progress {
  color:$main;
  border-top:1px solid $main;
  margin:30px 0 30px;
  &__list {
    list-style:none;
    padding:0;
    margin:-15px 0 1em;
    display:flex;
    justify-content: space-between;
  }
  &__item {
    text-align:center;
    counter-increment: progress__item;
    width:20%;
    cursor:pointer;
    &::before {
      display:block;
      height:30px;
      line-height:30px;
      width:30px;
      font-size:12px;
      border:1px solid $main;
      border-radius: 50%;
      margin:0 auto 10px;
      background:white;
      content: counter(progress__item);
      transition:0.4s background-color;
    }
    &.is-current {
      &::before {
        background:$main;
        color:white;
      }
    }
  }
}

@media screen and (min-width:500px) {
  .progress {
    &__list {
      margin-top:-30px;
    }
    &__item {
      &::before {
        height:60px;
        line-height:60px;
        width:60px;
        font-size:24px;
      }
    }
  }
}
